@use "../../common-style.scss";
 
  .edit-button {
    border-color: common-style.$color-green;
    background-color: common-style.$color-green;
    color: #fff;
    font-weight: bold;
    padding: 10px;
  }
  
  .header {
    color: #fff;
    margin-bottom: 2rem;
  }
  